<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<!-- <link rel="stylesheet" href="static/css/login.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">


</head>

<body>

{% extends 'layout.html' %}

{% block body %}

  <nav class="navbar navbar-expand-lg p-3 mb-2 bg-dark text-white border-bottom">
          <a class="navbar-brand" href="#">
          <img src="http://placehold.it/150x50?text=Logo" alt=""></a>
          <div class="navbar-nav ml-auto mt-2 mt-lg-0">
              <a class="nav-link" href="/"><h3>Back to Dashboard</h3></a>
          </div>
  </nav>

  <div class="container bg-image">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <legend class="card-title text-center"> Sign In </legend>
            <fieldset>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customPswd">
                <label class="custom-control-label" for="customPswd">Remember password</label>             
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <a class="btn btn-link btn-block" href="#">Forgot Password?</a>

              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            </form>
            </fieldset>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div>
    </div> <!-- row -->
  </div>  <!-- container -->

  {% endblock %}
</body>

</html>